.section-about {
  width: 100%;
  background-color: $blue;
  padding: 140px 0px;
  position: relative;
  overflow: hidden;
}

.about-title {
  text-align: center;
  font-size: 34px;
  color: #fff;
  margin-bottom: 50px;
  font-weight: 800;
  max-width: 700px;

  @media (max-width: 576px) {
    font-size: 26px;
  }
}

.about-list {
  color: #fff;
  line-height: 2;
  font-size: 20px;
  list-style: initial;
  font-weight: 300;

  @media (max-width: 576px) {
    font-size: 18px;
    padding-left: 6px;
  }
}

.about-img {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.4;
  position: absolute;
  right: 80px;
  bottom: 0px; 

  @media (max-width: 576px) {
    width: 300px;
    height: 300px;
    opacity: 0.1;
    right: 0px;
  }
}

.career-button{
  position: relative;
  z-index: 2;
  margin-top: 20px;
  
  a{
    background: #94d600;
    color: #fff;
    transition: 600ms all ease;
    padding: 5px 10px;
    color: #fff;
    transition: 300ms ease;
  }
}
