.portfolio-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	// background-image: url(images/content/portfolio/bg.png);
}
.section-portfolio {
	background-color: #064387;
	position: relative;
	padding-bottom: 50px;

	.portfolio-title-holder {
		padding-top: 160px;
		@media (max-width: 900px) {
			padding-top: 80px;
			padding-left: 0;
		}
		.portfolio-title {
			font-family: "Gilroy";
			font-style: normal;
			font-weight: bold;
			font-size: 70px;
			line-height: 64px;
			color: #ffffff;
			text-align: center;

			@media (max-width: 1400px) {
				font-size: 50px;
			}

			@media (max-width: 900px) {
				font-size: 40px;
			}
		}
	}

	.portfolio-dots {
		position: absolute;
		right: 58px;
		top: 47px;

		@media (max-width: 575px) {
			top: 17px;
			right: 12px;
		}

		img {
			@media (max-width: 1600px) {
				height: 600px;
			}
			@media (max-width: 1400px) {
				height: 400px;
			}
			@media (max-width: 991px) {
				height: 300px;
			}
			@media (max-width: 767px) {
				height: 250px;
			}
			@media (max-width: 575px) {
				height: 200px;
			}
		}
	}

	.partners-holder {
		width: 100%;
		z-index: 3;
		position: relative;
		display: none;
	}

	.swiper-container {
		width: 78%;
		padding-top: 50px;
		padding-bottom: 50px;
		.swiper-slide {
			background-position: center;
			background-size: cover;
			width: 250px;
			height: 500px;
			filter: blur(4px);
			transition: all 0.3s ease;
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.swiper-slide-active {
			filter: unset;
		}
		.swiper-pagination {
			padding-top: 40px;
			.swiper-pagination-bullet-active {
				background: white;
			}
		}
	}

	.swiper-3d .swiper-slide-shadow-left {
		background-image: none;
	}
	.swiper-3d .swiper-slide-shadow-right {
		background-image: none;
	}
	.portfolio-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 80%;
		margin: 30px auto 0;
		a {
			z-index: 2;
			height: 45px;
			width: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			background: #94d600;
			margin: 15px 30px;
			cursor: pointer;
			font-size: 18px;
			font-weight: 500;
		}
	}
}

@media (max-width: 400px) {
	.section-portfolio {
		.swiper-container {
			width: 90%;
			.swiper-slide {
				width: 100%;
				height: auto;
			}
		}
	}
}
