/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$green: #94d600;
$blue: #002B59;


$body-background-color: #F4F3F4;


/* Components */
